/* 头像样式 */
.avatar {
    float: left; /* 设置头像左浮动 */
    margin-right: 20px; /* 设置头像右边距为20px */
    border-radius: 50%; /* 设置圆形头像 */
    width: 100px; /* 设置头像宽度为100px */
}

  .avatar {
    transition: transform 0.3s ease; /* 缩放效果的过渡动画 */
  }
  
  .intro:hover .avatar {
    transform: scale(1.2); /* 放大到1.2倍 */
  }